{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/main2.css' %}" rel="stylesheet">
</head>

<body>
  <footer class="site-footer" style="background-color: rgba(139, 0, 0, 1);" id="section_6">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-12 mb-4">
          <i style="color: white; font-size: 150px;" class="fas fa-heartbeat"></i>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <h5 class="site-footer-title mb-3"
            style="color: white; font-size: 25px;font-weight: bold;text-decoration: underline;">Quick
            Links</h5>

          <ul class="footer-menu">
            <li class="footer-menu-item"><a href="#section_2" class="footer-menu-link">Our Story</a></li>
            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Newsroom</a></li>
            <li class="footer-menu-item"><a href="#section_3" class="footer-menu-link">Causes</a></li>
            <li class="footer-menu-item"><a href="/donor/donorlogin" class="footer-menu-link">Become a Donar</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mx-auto">
          <h5 class="site-footer-title mb-3" style="color: white; font-size: 25px;font-weight: bold;">Contact
            Information</h5>

          <p class="text-white d-flex mb-2">
            <i class="bi-telephone me-2"></i>
            <a href="tel:8866277037" class="site-footer-link">+91 8866277037</a>
          </p>

          <p class="text-white d-flex">
            <i class="bi-envelope me-2"></i>
            <a href="mailto:parvshah1712@gmail.com" class="site-footer-link">parvshah1712@gmail.com</a>
          </p>

          <p class="text-white d-flex mt-3">
            <i class="bi-geo-alt me-2"></i>
            India
          </p>
        </div>
      </div>
    </div>

    <div class="site-footer-bottom" style="background-color: rgb(97, 1, 1);">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7 col-12">
            <p class="copyright-text mb-0">Copyright © 2024 <a href="#">BloodCare:</a> Owned By Parv Shah</p>
          </div>

          <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
            <ul class="social-icon">
              <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-twitter" style="background-color: rgba(139, 0, 0, 1);"></a>
              </li>
              <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-facebook" style="background-color: rgba(139, 0, 0, 1);"></a>
              </li>
              <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-instagram" style="background-color: rgba(139, 0, 0, 1);"></a>
              </li>
              <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-linkedin" style="background-color: rgba(139, 0, 0, 1);"></a>
              </li>
              <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-youtube" style="background-color: rgba(139, 0, 0, 1);"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>